<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'Uye Girisi')}">
</head>
<body>

<nav th:replace="~{layout/fragments :: nav}"></nav>

<div class="container"><!-- Container-->


    <!--Firma Login Formu-->
    <div class="center mt-5 pt-5 col-md-6 mb-5 pb-5 offset-md-3">
        <form>
            <div class="text-center">
                <p class="h2 mb-4 font-weight-bold text-muted text-center pt-3 pb-3">Firma Girişi</p>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="userLoginFormEmail" class="form-control mb-4" placeholder="E-mail adresiniz">
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="userLoginFormPassword" class="form-control mb-4" placeholder="Sifreniz">
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Beni Hatırla</label>
                    </div>
                </div>
                <div>
                    <a href="#" class="blue-text ml-1" data-toggle="modal" data-target="#userForgotPasswordModal">Şifremi unuttum</a></p>
                </div>
            </div>
            <button th:class="|btn #{company_primary_color} text-white btn-block my-4|" type="submit">Giriş Yap</button>

            <div class="text-center">
                <p>Firma kaydınız yok mu?
                    <a th:href="@{/firma-kayit}">Kayıt Olun</a>
                </p>
            </div>
        </form>
    </div>
    <!--Firma Login Formu-->

    <div th:replace="~{layout/fragments :: pass-reminder}"></div>

    <br/><br/><br/><br/> <!-- Needed to avoid empty space below footer -->


</div>  <!-- Container-->

<div th:replace="~{layout/fragments :: footer}"></div>

</body>
</html>