<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'Uye Girisi')}">
</head>
<body>

<nav th:replace="~{layout/fragments :: nav}"></nav>

<div class="container"><!-- Container-->

    <!--User Login Formu-->
    <div class="center mt-5 pt-5 col-md-6 mb-5 pb-5 offset-md-3">

        <!--LOGIN ERROR ALERT-->
        <div class="alert alert-danger  mt-5" role="alert" th:if="${#request.getParameter('error')} == 'true'">
            <strong>Kullanici adi / Sifre</strong> gecerli degil.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--LOGIN ERROR ALERT-->

        <!--ACCOUNT ACTIVATED ALERT-->
        <div th:if="${verificationMessage != null}" th:class="|alert alert-${verificationMessage.value} alert-dismissable mt-5|" >
            <strong th:text="${verificationMessage.message}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--ACCOUNT ACTIVATED ALERT-->

        <form role="form" method="post" th:action="@{/user-giris}" th:object="${user}">
            <div class="text-center">
                <p class="h2 mb-4 font-weight-bold text-muted text-center pt-3 pb-3">Kullanici Girisi</p>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email"
                       id="userLoginFormEmail"
                       class="form-control mb-4"
                       placeholder="E-mail adresiniz"
                       th:field="*{email}"
                       required />
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="password"
                       id="userLoginFormPassword"
                       class="form-control mb-4"
                       th:field="*{password}"
                       placeholder="Sifreniz" required />
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Beni Hatirla</label>
                    </div>
                </div>
                <div>
                    <a href="#" class="blue-text ml-1" data-toggle="modal" data-target="#userForgotPasswordModal">Sifremi unuttum</a></p>
                </div>
            </div>
            <button th:class="|btn #{user_primary_color} btn-block text-white my-4|" type="submit">Giris Yap</button>

            <div class="text-center">
                <p>Henuz uye degil misin?
                    <a th:href="@{/user-kayit}">Uye Ol</a>
                </p>
            </div>
        </form>
    </div>
    <!--User Login Formu-->

    <div th:replace="~{layout/fragments :: pass-reminder}"></div>

    <br/><br/><br/><br/> <!-- Needed to avoid empty space below footer -->


</div>  <!-- Container-->

<div th:replace="~{layout/fragments :: footer}"></div>

</body>
</html>