<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head(title = 'Üye Girişi')}">
</head>

    <body>

        <nav th:replace="~{layout/fragments :: nav}"></nav>

        <div class="container"><!-- Container-->

            <br/><br/><br/>
            <!--User Login Formu-->
            <div class="center mt-5 pt-5 col-md-6 mb-5 pb-5 offset-md-3">
                <div class="alert alert-danger alert-dismissable mt-5" role="alert" th:if="${#request.getParameter('login-error')} == 'true'"><!--LOGIN ERROR ALERT-->
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Kullanıcı Adı veya Şifre</strong> geçerli değil.
                <!--LOGIN ERROR ALERT-->
                </div>

                <div th:if="${session.verificationMessage != null}" th:class="|alert alert-${session.verificationMessage.type} alert-dismissable mt-5|"><!-- ACTIVATION NEEDED ALERT-->
                    <strong th:text="${session.verificationMessage.message}"></strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div th:text="${@sessionModificationBean.removeVerificationMessageFromSession()}"></div>
                <!--ACCOUNT ACTIVATION ALERT-->
                </div>

                <div th:if="${verificationMessage != null}" th:class="|alert alert-${verificationMessage.type} alert-dismissable mt-5|"><!--ACTIVATION CODE ALERT-->
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong th:text="${verificationMessage.message}"></strong>
                <!--ACTIVATION CODE ALERT-->
                </div>


                <form role="form" method="post" th:action="@{/user-giris}" th:object="${user}">
                    <div class="text-center">
                        <p class="h2 mb-4 font-weight-bold text-muted text-center pt-3 pb-3">Kullanıcı Girişi</p>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email"
                               id="userLoginFormEmail"
                               class="form-control mb-4"
                               placeholder="E-mail adresiniz"
                               th:field="*{email}"
                               required />
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="password"
                               id="userLoginFormPassword"
                               class="form-control mb-4"
                               th:field="*{password}"
                               placeholder="Sifreniz" required />
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="remember-me" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Beni Hatırla</label>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="blue-text ml-1" data-toggle="modal" data-target="#userForgotPasswordModal">Şifremi unuttum</a></p>
                        </div>
                    </div>
                    <button th:class="|btn #{user_primary_color} btn-block text-white my-4|" type="submit">Giriş Yap</button>

                    <div class="text-center">
                        <p>Henuz üye değil misiniz?
                            <a th:href="@{/user-kayit}">Üye Ol</a>
                        </p>
                    </div>
                </form>
            </div>
            <!--User Login Formu-->

            <div th:replace="~{layout/fragments :: pass-reminder}"></div>

            <br/><br/><br/><br/> <!-- Needed to avoid empty space below footer -->

        </div>  <!-- Container-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>

    </body>

</html>