<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head(title = 'Sifre Yenileme')}">
</head>

    <body>

        <nav th:replace="~{layout/fragments :: nav}"></nav>

        <div class="container"><!-- Container-->
            <form role="form" method="post" th:action="@{/sifre-yenileme}" th:object="${user}">
                <header class="text-muted pb-2 mt-xl-5">
                    <div class="center mb-5 pb-5 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <div th:replace="~{layout/fragments :: alertMessage}"></div>
                        <div class="text-center">
                            <p class="h2 mb-3 font-weight-bold text-muted text-center py-5 pb-3">Sifre Yenileme</p>
                        </div>

                        <input type="hidden" th:value="*{email}" th:field="*{email}"/>

                        <div class="md-form mb-5">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password"
                                   id="userRegisterFormPassword"
                                   class="form-control mb-4"
                                   th:field="*{password}"
                                   placeholder="Sifreniz" required />
                        </div>
                        <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                            <li th:each="message : ${error.split(',')}">
                                <p class="text-danger" th:text="${message}"></p>
                            </li>
                        </ul>

                        <div class="md-form mb-5">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password"
                                   id="userRegisterFormPasswordRepeat"
                                   class="form-control mb-4"
                                   th:field="*{confirmPassword}"
                                   placeholder="Sifreniz (Tekrar)" required />
                        </div>
                        <ul class="text-danger" th:each="error: ${#fields.errors('confirmPassword')}">
                            <li th:each="message : ${error?.split(',')}">
                                <p class="text-danger" th:text="${message}"></p>
                            </li>
                        </ul>

                        <div class="md-form mb-5">
                            <button th:class="|btn #{user_primary_color} text-white btn-block|" type="submit">Sifremi Yenile</button>
                        </div>

                    </div>
                </header>
            </form>
            <!--Password Reset Form-->
        </div>  <!-- Container-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>

    </body>

</html>