<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head(title = 'Sifre hatirlatma')}">
</head>

    <body>

        <nav th:replace="~{layout/fragments :: nav}"></nav>

        <div class="container"><!-- Container-->
            <form role="form" method="post" th:action="@{/sifre-hatirlatma}" th:object="${user}">
                <header class="text-muted pb-2 mt-xl-5">
                    <div class="center mb-5 pb-5 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <div th:replace="~{layout/fragments :: alertMessage}"></div>
                        <div class="text-center">
                            <p class="h2 mb-3 font-weight-bold text-muted text-center py-5 pb-3">Sifre Hatirlatma</p>
                        </div>
                        <div class="md-form mt-2">
                            <i class="fas fa-envelope prefix text-muted"></i>
                            <label class="text-muted" for="user-forgot-password-input">Email Adresiniz</label>
                            <input type="email"
                                   id="user-forgot-password-input"
                                   class="form-control validate text-muted"
                                   th:field="*{email}"
                                   required
                            />
                            <a type="submit" th:href="@{/user-giris}" th:class="|btn #{modal_primary_color} waves-effect float-left|">Geri</a>
                            <button type="submit" th:class="|btn #{modal_primary_color} text-white waves-effect float-right|">Gönder</button>
                        </div>
                    </div>
                </header>
            </form>
            <!--Password Reset Form-->
        </div>  <!-- Container-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>

    </body>

</html>