<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'Kullanıcı Özel')}">
</head>

<nav th:replace="~{layout/fragments :: nav}"></nav>

<body>

    <div class="jumbotron" th:style="'background-image:url(' + @{/img/profile-bg.jpg} + ');'" >
        <div class="text-dark text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Yeni Ilan Ver</strong></h2>
            </div>

            <div class="pt-2">
                <form role="form" id="addNewPostForm" th:action="@{/add-new-post}" th:object="${selectedCity}" th:method="post">
                    <select class="btn btn-info waves-effect" data-live-search=true name="selectedCity">
                        <option selected disabled>Sehir seciniz</option>
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}"
                                th:data="${city.id}"></option>
                    </select>
                    <button type="submit" class="btn btn-info text-white waves-effect" th:classappend="#{navbar_color}">Ilan Ver <i class="fas fa-search ml-1"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <div th:replace="~{layout/fragments :: alertMessage}"></div>

        <div class="row my-5 gray">
            <!-- Card Regular -->
            <div class="card card-cascade col-lg-3 col-md-12 col-sm-12 mb-5">

                <!-- Card image -->
                <div class="view view-cascade overlay pt-2">
                    <img class="img-fluid z-depth-1 rounded-circle" th:src="@{img/profile-photo1.jpg}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title"><strong>Kasim Gul</strong></h4>
                    <!-- Subtitle -->
                    <h6 class="py-3"><span class="font-weight-bold indigo-text" th:text ="${#authentication.getPrincipal().getUsername()}"></span></h6>

                    <!-- Text -->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                    </p>

                    <!-- Facebook -->
                    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                    <!-- Instagram -->
                    <a class="px-2 fa-lg tw-ic"><i class="fab fa-instagram"></i></a>

                </div>

            </div>
            <!-- Card Regular -->

            <div class="col-lg-8 offset-lg-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profilim</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Guncelle</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="h6 mt-5">Bilgilerim</h6>
                                <hr>
                                <h6 class="mt-3"><span class="h6 text-muted">reaLdeaL</span></h6>
                                <h6 class="mt-3"><span class="h6 text-muted">915 Sokak No 35 Ufuk Mahallesi Sirinyer Izmir 35140</span></h6>
                            </div>
                            <div class="col-md-6 my-5">
                                <h6 class="h6">Aktivitelerim</h6>
                                <hr>
                                <span class="badge badge-primary p-2 mb-2">Verdigim Ilan 900</span><br/>
                                <span class="badge badge-success p-2 mb-2">Aldigim Teklif 224</span><br/>
                                <span class="badge badge-danger p-2">Kabul ettigim teklif 25</span>
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-5 h5"><i class="far fa-clock text-muted"></i> En son verdigim ilanlar</h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <strong>Bosanma Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Ceza Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Hukuki Danışman</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Bilişim Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="float-right">
                            <button th:type="submit" class="btn btn-sm mdb-color darken-4 text-white center">Hepsini Göster</button>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Isim</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="Kasim">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Soyisim</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="Gul">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">E-posta</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" value="kasimgul@hotmail.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Adres</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="" placeholder="915 Sokak No 35 Ufuk Mahallesi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" value="" placeholder="Izmir">
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" type="text" value="" placeholder="35140">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Kullanici Adi</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="reaLdeaL">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sifre</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="11111122333">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sifre (tekrar)</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="11111122333">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <button type="reset" class="btn ">Iptal</button>
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--&lt;!&ndash;Page content between here&ndash;&gt;-->
<!--<div class="container">-->


<!--&lt;!&ndash; News jumbotron &ndash;&gt;-->
<!--<div class="jumbotron text-center hoverable p-4">-->

<!--    &lt;!&ndash; Grid row &ndash;&gt;-->
<!--    <div class="row">-->

<!--        &lt;!&ndash; Grid column &ndash;&gt;-->
<!--        <div class="col-md-4 offset-md-1 mx-3 my-3">-->

<!--            &lt;!&ndash; Featured image &ndash;&gt;-->
<!--            <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">-->
<!--                <a>-->
<!--                    <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash; Grid column &ndash;&gt;-->

<!--        &lt;!&ndash; Grid column &ndash;&gt;-->
<!--        <div class="col-md-7 text-md-left ml-3 mt-3">-->

<!--            &lt;!&ndash; Excerpt &ndash;&gt;-->
<!--            <a href="#!" class="green-text">-->
<!--                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>-->
<!--            </a>-->


<!--            <h4 class="h4 mb-4"><span th:text="${session.user.getEmail()}"></span></h4>-->

<!--            <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam-->
<!--                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae-->
<!--                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>-->
<!--            <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>-->

<!--            <a class="btn btn-success">Read more</a>-->

<!--        </div>-->
<!--        &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; Grid row &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; News jumbotron &ndash;&gt;-->






<!--</div>-->


<div th:replace="~{layout/fragments :: footer}"></div>

<!--Page content between here-->
</body>  <!-- Container-->
</html>