<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'Kullanıcı Özel')}">
</head>

<nav th:replace="~{layout/fragments :: nav}"></nav>

<body>

    <div class="jumbotron" th:style="'background-image:url(' + @{/img/profile-bg.jpg} + ');'" >
        <div class="text-dark text-center py-5 px-4">
            <div>
                <h2 class="display-3 text-white">Yeni Ilan Ver</h2>
            </div>

            <div class="pt-2">
                <form role="form" id="addNewPostForm" th:action="@{/add-new-post}" th:object="${selectedCity}" th:method="post">
                    <select class="btn btn-white text-muted" data-live-search=true name="selectedCity">
                        <option style="background: #cdcdcd" selected disabled>Sehir seciniz</option>
                        <option style="background: #ffffff" class="text-muted"
                                th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}"
                                th:data="${city.id}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary text-white waves-effect">Ilan Ver <i class="fas fa-search ml-1"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <div th:replace="~{layout/fragments :: alertMessage}"></div>

        <div class="row my-5 gray">
            <!-- Card Regular -->
            <div class="card card-cascade col-lg-3 col-md-12 col-sm-12 mb-5">

                <!-- Card image -->
                <div class="view view-cascade overlay pt-2">
                    <img class="img-fluid z-depth-1 rounded-circle" th:src="@{img/profile-photo.jpg}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <h6 class="card-title text-muted" th:text="${user.getFullName() != null} ? ${user.getFullName()} : 'Kasim Gul'"></h6>
                    <h6 class="card-title text-muted" th:text="${user.getAlias() != null} ? ${user.getAlias()} : 'reaLdeaL'"></h6>
                    <h6 class="card-title text-muted" th:text ="${user.getEmail()}"></h6>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-muted float-left">ilan</h5>
                            </div>
                            <div class="col-6">
                                <p class="badge badge-primary p-2 float-right">900</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-muted float-left">Teklif</h5>
                            </div>
                            <div class="col-6">
                                <p class="badge badge-default p-2 float-right">250</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-muted float-left">Kabul</h5>
                            </div>
                            <div class="col-6">
                                <p class="badge badge-danger p-2 float-right">35</p>
                            </div>
                        </div>
                    </div>
                    </p>

                </div>

            </div>
            <!-- Card Regular -->

            <div class="col-lg-8 offset-lg-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Ilanlarim</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Guncelle</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="mt-5 h5 text-muted"><i class="far fa-clock text-muted"></i> En son verdigim ilanlar</h5>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <strong>Bosanma Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Ceza Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Hukuki Danışman</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Bilişim Avukatı</strong> araniyor. <strong>Izmir</strong>
                                        </td>
                                        <td>
                                            <button class="btn-link text-muted" th:type="submit">Göster</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="float-right">
                            <button th:type="submit" class="btn btn-sm mdb-color darken-4 text-white center">Hepsini Göster</button>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Adiniz</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" placeholder="Adiniz ve Soyadiniz">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">E-posta</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" placeholder="e-posta adresiniz">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Kullanici Adi</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" placeholder="kullanici adiniz">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sifre</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" placeholder="Sifreniz">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sifre (tekrar)</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" placeholder="Sifre Onay">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <button type="reset" class="btn">Iptal</button>
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="~{layout/fragments :: footer}"></div>

<!--Page content between here-->
</body>  <!-- Container-->
</html>