<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'Yeni Uye')}">
</head>
<body>

<nav th:replace="~{layout/fragments :: nav}"></nav>

<div class="container"><!-- Container-->


    <!--Login Form-->
    <div class="center mt-5 pt-5 col-md-6 mb-5 pb-5 offset-md-3">
        <form role="form" method="post" th:action="@{/user-kayit}" th:object="${user}" th:if="!${success}">
            <div class="text-center">
                <p class="h2 mb-4 font-weight-bold text-muted text-center pt-3 pb-3">Yeni Uye Kaydi</p>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="userRegisterFormEmail" class="form-control mb-4" th:field="*{email}" placeholder="E-mail adresiniz">
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="userRegisterFormPassword" class="form-control mb-4" th:field="*{password}" placeholder="Sifreniz">
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="userRegisterFormPasswordRepeat" class="form-control mb-4" th:field="*{confirmPassword}" placeholder="Sifreniz (Tekrar)">
            </div>

            <button th:class="|btn #{user_primary_color} text-white btn-block my-4|" type="submit">Kayit Ol</button>

            <div class="text-center">
                <p>Uyeliginiz var mi?
                    <a th:href="@{user-giris}">Uye Girisi</a>
                </p>
            </div>
        </form>
    </div>
    <!--Login Form-->

    <br/><br/><br/><br/> <!-- Needed to avoid empty space below footer -->


</div>  <!-- Container-->

<div th:replace="~{layout/fragments :: footer}"></div>

</body>
</html>