/*List item with checkmark */
.list-checkmarks {
    padding-left:1.5rem;
}
.list-checkmarks li {
    list-style-type:none;
    padding-left:1rem;
}
.list-checkmarks li:before {
    font-family: 'FontAwesome', sans-serif;
    display: inline-block;
    width: 1em;
    content: url('../img/check-solid.svg');
    margin:0 10px 0 -28px;
}
/*List item with checkmark */