<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head(title = '404')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="~{layout/fragments :: nav}"></nav>

    <div class="container my-5">
        <div class="page-wrap d-flex flex-row align-items-center my-5">
            <div class="container my-5">
                <div class="row justify-content-center my-5">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">404</span>
                        <div class="mb-4 lead">Aradığınız sayfa bulunamadı.</div>
                        <a href="/" class="btn btn-secondary">Geri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>