<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head(title = 'FirmadanTeklif')}">
</head>
<body>

    <nav th:replace="~{layout/fragments :: nav}"></nav>

    <div th:if="${userRegisterSuccess} == true">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
                // Your code to run since DOM is loaded and ready
                openRegisterSuccessModal();
            });

        </script>
    </div>

    <div th:if="${flashMessage} != null">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
                // Your code to run since DOM is loaded and ready
                openFlashMessageModal();
            });
        </script>
    </div>

    <!-- Add new UserPost-->
    <div id="home-intro" class="text-center py-5">
        <!-- Title -->
        <h1 class="h1-responsive font-weight-bold pt-5" th:text="#{company_name}">FirmadanTeklif</h1>
        <!-- Subtitle -->
        <p class="blue-text pt-2 font-weight-bold" style="font-size:120%;">Deneyimli ve köklu firmalar yardımınıza hazır bekliyor!</p>
        <!-- Grid row -->

        <!-- Grid row -->
        <br/>
        <div><br/><br/><br/><br/>
            <form role="form" id="addNewPostForm" th:action="@{/new-post}" th:method="get">
                <button type="submit" class=""
                        th:classappend="#{home_new_post_button_color}">İlan Ver <i class="ml-2 fas fa-search-plus"></i></button>
            </form>
        </div><br/><br/><br/><br/>
    </div>
    <!-- Add new UserPost-->

    <!--How it works-->
    <div>
        <!-- Section: Features v.1 -->
        <section class="text-center my-5">

            <!-- Section heading -->
            <h1 class="h1-responsive font-weight-bold my-5">FirmadanTeklif nasıl calışıyor?</h1>
            <!-- Section description -->
            <p class="px-4 text-justify lead grey-text w-responsive mx-auto mb-5">Sitemize üye olur olmaz aşağıdaki adımları takip ederek
                ilan verebilirsiniz. FirmadanTeklif kendi alanında uzman, her sektörden farklı firmaları aynı çatı
                altında toplamayı hedefleyen ve bu sayede size ihtiyaç duyduğunuz her konuda, en hızlı ve güvenilir
                hizmeti sunmayı hedefleyen bir sitedir.</p>

            <div class="container">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="fas fa-plus fa-3x red-text"></i>
                        <h5 class="font-weight-bold my-4">İlan verin</h5>
                        <p class="grey-text mb-md-0 mb-5">Size uygun kategoriyi seçip, neye ihtiyacınız olduğunu detaylı bir şekilde bize yazın.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-check-circle fa-3x cyan-text"></i>
                        <h5 class="font-weight-bold my-4">Firma seçin</h5>
                        <p class="grey-text mb-md-0 mb-5">İlanınıza cevap veren firmalar arasından size en uygun teklifi veren firmayi seçin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-credit-card fa-3x orange-text"></i>
                        <h5 class="font-weight-bold my-4">Ödemeyi yapın</h5>
                        <p class="grey-text mb-0">Firma ile anlaştığınız ücreti, ödeme seçenekleri arasından size uygun olanı seçerek yapın.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-smile-beam fa-3x green-text"></i>
                        <h5 class="font-weight-bold my-4">Geriye yaslanın</h5>
                        <p class="grey-text mb-0">...ve firmanin işini tamamlamasını bekleyin. Sonuçtan memnun olduysanız ödemeyi onaylayın.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Features v.1 -->
    </div>
    <!--How it works-->

    <!--About-->
    <div class="grey lighten-3 py-5 py-5">
        <section><!-- Section -->
            <div class="container"><!-- Container -->
                <div class="row"><!-- Grid row -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <img style="width: 100%;" th:src="@{/img/about.jpg}" src="" alt="">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <!-- Section heading -->
                        <h1 class="h1-responsive font-weight-bold mb-4">Hakkımızda</h1>
                        <!-- Section description -->
                        <p class="lead grey-text mx-auto">Firmadanteklif.com her sektörden en uygun fiyata ve
                        kaliteli hizmet vermeyi taahhüt eden firmaları bünyesine katmayı amaçlayan ve bu taahhütün takipçisi
                        olmayı amaçlayan çevrimiçi bir hizmettir. Firmadanteklif.com kullanıcı odaklı bir hizmet olup,
                        kullanıcılarımızın ihtiyaçları ve önerileri doğrultusunda gerekli adımları atarak iş politikamızı
                        tüm kullanıcılarımız için en uygun hale getirene kadar durmaksızın güncellemeyi hedeflemektedir.</p>

                        <div class="row">
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Güvenilir</li>
                                    <li>Hızlı</li>
                                    <li>Kolay</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Deneyimli</li>
                                    <li>Garantili</li>
                                    <li>Ücretsiz</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div><!-- Grid row -->
            </div><!-- Container -->
        </section><!-- Section -->
    </div>
    <!--About-->

    <!--Categories-->
    <div class="py-5">
        <div class="container">
            <div class="section-title">
                <h1 class="h1-responsive font-weight-bold mb-4 text-center pb-5">Kategoriler</h1>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-home fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Temizlik</h3>
                        <p>Ev Temizliği, Ofis Temizliği, Kuru Temizleme, Halı Yıkama, Perde Yıkama, Koltuk Yıkama gibi temizlik
                             ihtiyaçlarınız için bu kategoriyi seçebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-truck fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Taşıma ve Nakliye</h3>
                        <p>Nakliye ihtiyacı olan bireyler ve firmalar uzak veya yakın tüm taşıma işlerini profesyonellere güven
                             içersinde emanet edebilir. Şehiriçi veya şehirlerarası evden eve taşımalarınız için de bu kategoriyi seçebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-wrench fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>İnşaat ve Onarım</h3>
                        <p>Küçük büyük tüm inşaat, bakım ve tamir işleriniz için lütfen bu başlıktan ilerleyin. Duvar örme, iç ve dış sıva,
                            dış cephe işleri, çatı aktarma, çatı bakım onarımı, izolasyon gibi ihtiyaçlarınız yani boya ve badanadan, plan ve proje
                            çizdirmeye kadar tüm inşaat işleriniz için uzman firmaları burada bulabilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-leaf fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Bahçe ve Arazi</h3>
                        <p>???Bahçe işleriniz için alet, edevat ve insan kaynağı sağlayabilecek firmaları burda listeledik.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fas fa-building fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Apartman ve İşyeri</h3>
                        <p>???.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-magic fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Mimar ve İç tasarım</h3>
                        <p>Evinizin ve ofisinizin dizaynı için profesyoneller bu alanda.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-briefcase fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Hukuk, Ekonomi ve Sosyal Güvenlik</h3>
                        <p>Avukata ihtiyaç duyuyorsanız veya hukuki desteğe ve danışmanlığa gereksiniminiz varsa bu kategoride
                        en iyi uzmanları bulabilirsiniz. Ekonomi ve sosyal güvenlik alanında çalışan firmalara da buradan erişebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fab fa-internet-explorer fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>İnternet - Web tasarım</h3>
                        <p>Bu başlık internette bir sayfam olsun diyenler için. Kişisel veya kurumsal tüm internet siteleriniz için uzman firmalar
                            burada. Kendiniz veya işyeriniz için bir internet sitesine veya alan adına ihtiyaç duyuyorsanız lütfen burdan devam edin.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-ellipsis-h fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Diğer Servisler</h3>
                        <p>Aradığınızı kategorilerde bulamadınız mı? Kalan bütün firmalar burada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories-->

    </div> <!--Container - Main Content of the page-->

    <div th:replace="~{layout/fragments :: footer}"></div>

    <script type="text/javascript">
        function openRegisterSuccessModal() {
            $('#userRegisterSuccessModal').modal('show');
        };

        function openFlashMessageModal() {
            $('#flashMessageModal').modal('show');
        };
    </script>

    <!--Modal: userRegisterSuccessModal-->
    <div id="userRegisterSuccessModal" class="modal fade top" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body">
                    <div class="row d-flex justify-content-center align-items-center">

                        <p class="pt-3 pr-2"> Uyeliginizi <strong th:text="${userEmail}"></strong> adresine gönderdigimiz linke tiklayarak onaylayabilirsiniz.</p>
                        <a type="button" class="btn btn-default waves-effect" data-dismiss="modal">KAPAT</a>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div><!--Modal: userRegisterSuccessModal-->

    <!--Modal: flashMessageModal-->
    <div id="flashMessageModal" class="modal fade top" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body">
                    <div class="row d-flex justify-content-center align-items-center">

                        <p class="pt-3 pr-2" th:text="${flashMessage?.message}"></p>
                        <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">KAPAT</a>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div><!--Modal: flashMessageModal-->

</body>
</html>