<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/fragments :: head(title = 'FirmadanTeklif')}">
</head>
<body>

    <nav th:replace="~{layout/fragments :: nav}"></nav>

    <div class="container alert alert-success  mt-5" role="alert" th:if="${userRegisterSuccess} == true">
        Uyeliginizi <strong th:text="${userEmail}"></strong> adresine gönderdigimiz linke tiklayarak onaylayabilirsiniz.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Add new Post-->
    <div class="py-5 my-5 text-center">
        <!-- Title -->
        <h2 class="card-title h2" th:text="#{company_name}">FirmadanTeklif</h2>
        <!-- Subtitle -->
        <p class="blue-text my-4 font-weight-bold" style="font-size:120%;">Deneyimli ve köklu firmalar size yardima hazir!</p>
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
                <p class="card-text" style="font-size:120%;">FirmadanTeklif kendi alaninda uzman, her sektörden farkli
                    firmalari ayni cati altinda toplamayi hedefleyen ve bu sayede size ihtiyac duydugunuz her konuda, en
                    hizli ve guvenilir hizmeti sunmayi hedefleyen bir sitedir.</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <br/>
        <div class="pt-2">
            <form role="form" id="addNewPostForm" th:action="@{/add-new-post}" th:object="${selectedCity}" th:method="post">
                <select class="btn waves-effect" data-live-search=true name="selectedCity">
                    <option selected disabled>Sehir seciniz</option>
                    <option th:each="city : ${cities}"
                            th:value="${city.id}"
                            th:text="${city.name}"
                            th:data="${city.id}"></option>
                </select>
                <button type="submit" class="btn text-white waves-effect" th:classappend="#{navbar_color}">Ilan Ver <i class="fas fa-search ml-1"></i></button>
            </form>
        </div>
    </div>
    <!-- Add new Post-->

    <!--How it works-->
    <div class="grey lighten-3 py-5">
        <!-- Section: Features v.1 -->
        <section class="text-center my-5">

            <!-- Section heading -->
            <h1 class="h1-responsive font-weight-bold my-5">FirmadanTeklif nasil calisiyor?</h1>
            <!-- Section description -->
            <p class="lead grey-text w-responsive mx-auto mb-5">Sitemize uye olur olmaz asagidaki adimlari takip ederek ilan verebilirsiniz.</p>

            <div class="container">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="fas fa-plus fa-3x red-text"></i>
                        <h5 class="font-weight-bold my-4">Ilan verin</h5>
                        <p class="grey-text mb-md-0 mb-5">Size uygun kategoriyi secip, neye ihtiyaciniz oldugunu detayli bir sekilde bize yazin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-check-circle fa-3x cyan-text"></i>
                        <h5 class="font-weight-bold my-4">Firma secin</h5>
                        <p class="grey-text mb-md-0 mb-5">Ilaniniza cevap veren firmalar arasindan size en uygun teklifi veren firmayi secin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-credit-card fa-3x orange-text"></i>
                        <h5 class="font-weight-bold my-4">Ödemeyi yapin</h5>
                        <p class="grey-text mb-0">Firma ile anlastiginiz ucreti, ödeme secenekleri arasindan size uygun olani secerek yapin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-smile-beam fa-3x green-text"></i>
                        <h5 class="font-weight-bold my-4">Geriye yaslanin</h5>
                        <p class="grey-text mb-0">...ve firmanin isini tamamlamasini bekleyin. Sonuctan memnun olduysaniz ödemeyi onaylayin.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Features v.1 -->
    </div>
    <!--How it works-->

    <!--About-->
    <div class="py-5">
        <section><!-- Section -->
            <div class="container"><!-- Container -->
                <div class="row"><!-- Grid row -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <img style="width: 100%;" th:src="@{/img/about.jpg}" src="" alt="">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <!-- Section heading -->
                        <h1 class="h1-responsive font-weight-bold mb-4">Hakkimizda</h1>
                        <!-- Section description -->
                        <p class="lead grey-text mx-auto">Firmadanteklif.com her sektorden en uygun fiyata ve
                        kaliteli hizmet vermeyi taahhut eden firmalari bunyesine kaymayi amaclayan ve bu taahhutun takipcisi
                        olmayi amaclayan online bir hizmettir. Firmadanteklif.com kullanici odakli bir hizmet olup,
                        kullanicilarimizin ihtiyaclari ve önerileri dogrultusunda gerekli adimlari atarak is politikamizi
                        tum kullanicilarimiz icin en uygun hale getirene kadar durmaksizin guncellemeyi hedeflemektedir.</p>

                        <div class="row">
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Guvenilir</li>
                                    <li>Hizli</li>
                                    <li>Kolay</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Deneyimli</li>
                                    <li>Garantili</li>
                                    <li>Ucretsiz</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div><!-- Grid row -->
            </div><!-- Container -->
        </section><!-- Section -->
    </div>
    <!--About-->

    <!--Categories-->
    <div class="grey lighten-3 py-5">
        <div class="container">
            <div class="section-title">
                <h1 class="h1-responsive font-weight-bold mb-4 text-center pb-5">Kategoriler</h1>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-home fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Temizlik</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-truck fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Tasima ve Nakliye</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-wrench fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Insaat ve Onarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-leaf fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Bahce ve Arazi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fas fa-building fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Apartman ve Isyeri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-magic fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Mimar ve Ic tasarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-briefcase fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Ekonomi ve Hukuk</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fab fa-internet-explorer fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Internet - Web tasarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-ellipsis-h fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Diger Servisler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories-->


    <div th:replace="~{layout/fragments :: footer}"></div>

</body>
</html>