<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/main_layout :: head(title = 'FirmadanTeklif')}">
</head>
<body>

    <nav th:replace="~{layout/main_layout :: nav}"></nav>

    <jumbotron th:replace="~{layout/main_layout :: jumbotron}"></jumbotron>

    <!--How it works-->
    <div class="grey lighten-4 py-5">
        <!-- Section: Features v.1 -->
        <section class="text-center my-5">

            <!-- Section heading -->
            <h1 class="h1-responsive font-weight-bold my-5">FirmadanTeklif nasil calisiyor?</h1>
            <!-- Section description -->
            <p class="lead grey-text w-responsive mx-auto mb-5">Sitemize uye olur olmaz asagidaki adimlari takip ederek ilan verebilirsiniz.</p>

            <div class="container">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="fas fa-plus fa-3x red-text"></i>
                        <h5 class="font-weight-bold my-4">Ilan verin</h5>
                        <p class="grey-text mb-md-0 mb-5">Size uygun kategoriyi secip, neye ihtiyaciniz oldugunu detayli bir sekilde bize yazin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-check-circle fa-3x cyan-text"></i>
                        <h5 class="font-weight-bold my-4">Firma secin</h5>
                        <p class="grey-text mb-md-0 mb-5">Ilaniniza cevap veren firmalar arasindan size en uygun teklifi veren firmayi secin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-credit-card fa-3x orange-text"></i>
                        <h5 class="font-weight-bold my-4">Ödemeyi yapin</h5>
                        <p class="grey-text mb-0">Firma ile anlastiginiz ucreti, ödeme secenekleri arasindan size uygun olani secerek yapin.</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <i class="far fa-smile-beam fa-3x green-text"></i>
                        <h5 class="font-weight-bold my-4">Geriye yaslanin</h5>
                        <p class="grey-text mb-0">...ve firmanin isini tamamlamasini bekleyin. Sonuctan memnun olduysaniz ödemeyi onaylayin.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Features v.1 -->
    </div>
    <!--How it works-->

    <!--About-->
    <div class="py-5">
        <section><!-- Section -->
            <div class="container"><!-- Container -->
                <div class="row"><!-- Grid row -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <img style="width: 100%;" th:src="@{/img/about.jpg}" src="" alt="">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6 my-3">
                        <!-- Section heading -->
                        <h1 class="h1-responsive font-weight-bold mb-4">Hakkimizda</h1>
                        <!-- Section description -->
                        <p class="lead grey-text mx-auto">Firmadanteklif.com her sektorden en uygun fiyata ve
                        kaliteli hizmet vermeyi taahhut eden firmalari bunyesine kaymayi amaclayan ve bu taahhutun takipcisi
                        olmayi amaclayan online bir hizmettir. Firmadanteklif.com kullanici odakli bir hizmet olup,
                        kullanicilarimizin ihtiyaclari ve önerileri dogrultusunda gerekli adimlari atarak is politikamizi
                        tum kullanicilarimiz icin en uygun hale getirene kadar durmaksizin guncellemeyi hedeflemektedir.</p>

                        <div class="row">
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Guvenilir</li>
                                    <li>Hizli</li>
                                    <li>Kolay</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-checkmarks">
                                    <li>Deneyimli</li>
                                    <li>Garantili</li>
                                    <li>Ucretsiz</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div><!-- Grid row -->
            </div><!-- Container -->
        </section><!-- Section -->
    </div>
    <!--About-->

    <!--Categories-->
    <div class="grey lighten-4 py-5">
        <div class="container">
            <div class="section-title">
                <h1 class="h1-responsive font-weight-bold mb-4 text-center pb-5">Kategoriler</h1>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-home fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Temizlik</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-truck fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Tasima ve Nakliye</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-wrench fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Insaat ve Onarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-leaf fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Bahce ve Arazi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fas fa-building fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Apartman ve Isyeri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-magic fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Mimar ve Ic tasarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 py-3"> <i class="fa fa-briefcase fa-4x cyan-text"></i>
                    <div class="service-desc py-2">
                        <h3>Ekonomi ve Hukuk</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fab fa-internet-explorer fa-4x orange-text"></i>
                    <div class="service-desc py-2">
                        <h3>Internet - Web tasarim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
                <div class="col-md-4 py-3"> <i class="fa fa-ellipsis-h fa-4x red-text"></i>
                    <div class="service-desc py-2">
                        <h3>Diger Servisler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
                            commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories-->

    <!--Firma Login Modal-->
    <div class="modal fade" id="companyLoginFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center"  th:classappend="#{company_login_modal_color}">
                    <h4 class="modal-title w-100 font-weight-bold text-white">Firma Girisi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="company-login-email-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-login-email-input">Email Adresiniz</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="company-login-password-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-login-password-input">Sifreniz</label>
                    </div>
                </div>

                <div class="mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end float-left">
                        <a href="#" class="blue-text ml-1" data-dismiss="modal" data-toggle="modal" data-target="#companyForgotPasswordModal">Sifremi unuttum</a></p>
                    <p class="font-small grey-text d-flex justify-content-end float-right">Firma kaydiniz yok mu?
                        <a href="#" class="blue-text ml-1" data-dismiss="modal" data-toggle="modal" data-target="#companyRegisterFormModal">Kayit ol</a></p><br/>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn text-white" th:classappend="#{company_modal_buttons_color}">GIRIS</button>
                </div>
            </div>
        </div>
    </div>
    <!--Firma Login Modal-->

    <!--Firma Kayit Modal-->
    <div class="modal fade" id="companyRegisterFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" th:classappend="#{company_register_modal_color}">
                    <h4 class="modal-title w-100 font-weight-bold text-white">Firma Kayit</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="company-register-name-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-register-name-input">Firma Adi</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="company-register-email-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-register-email-input">Email Adresiniz</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="company-register-password-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-register-password-input">Sifreniz</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="company-register-password-repeat-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-register-password-repeat-input">Sifreniz (Tekrar)</label>
                    </div>
                </div>
                <div class="mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end float-right">Firma kaydiniz var mi?
                        <a href="#" class="blue-text ml-1" data-dismiss="modal" data-toggle="modal" data-target="#companyLoginFormModal">Firma girisi</a></p><br/>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn text-white" th:classappend="#{company_modal_buttons_color}">Kayit Ol</button>
                </div>
            </div>
        </div>
    </div>
    <!--Firma Kayit Modal-->

    <!--Firma Sifre Hatirlatma Modal-->
    <div class="modal fade" id="companyForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" th:classappend="#{company_forgot_pass_modal_color}">
                    <h4 class="modal-title w-100 font-weight-bold text-white">Sifre Hatirlatma</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" data-toggle="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="company-forgot-password-input" class="form-control validate">
                        <label data-error="hatali" data-success="gecerli" for="company-forgot-password-input">Email Adresiniz</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <input type="submit" value="GÖNDER" class="btn text-white" th:classappend="#{company_modal_buttons_color}"><i class="fas fa-paper-plane-o ml-1"></i></input>
                </div>
            </div>
        </div>
    </div>
    <!--User Sifre Hatirlatma Modal-->

    <div th:replace="~{layout/main_layout :: footer}"></div>

</body>
</html>