<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Message Subject or Title</title>
</head>
<body>
    <h1>Firmadan Teklif Uyelik Onayi</h1>
    <p th:text="|Sayin: ${user.getEmail()}|">Sayin uyemiz,</p>
    <p>Aramiza hosgeldiniz! Hesabinizi aktif etmek icin asagidaki linke tiklayin.</p>
    <a th:href="${baseURL} + ${user.getEmail()} + '/' + ${verificationCode}">Uyeligimi onayla</a>
</body>
</html>